@import "scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');


$nav_font: #DCDCDC;
$yellow: #EFC078;



@font-face {
    font-family: 'icomoon';
    src:  url('fonts/icomoon.eot?9xnzpi');
    src:  url('fonts/icomoon.eot?9xnzpi#iefix') format('embedded-opentype'),
      url('fonts/icomoon.ttf?9xnzpi') format('truetype'),
      url('fonts/icomoon.woff?9xnzpi') format('woff'),
      url('fonts/icomoon.svg?9xnzpi#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-arrow-right:before {
    content: "\ea34";
  }
  







.btn_format{
    display: inline-block;
    text-decoration: none;
    color: $nav_font;

}

.btn_border-yellow{
    border: 2px solid $yellow;
}

.btn_border-gray{
    border: 1px solid $nav_font;
    color: $nav_font;
}

.color_theme{
    color: $yellow;
}


body{
    font-family: 'Roboto', sans-serif;
}



.nav-top{
    background-color: rgba($color: #1A1A18, $alpha: .8);
}
.nav-top{
    position: fixed;
    z-index: 100;
    width: 100%;
}
header{

    .navbar{
        padding: 0;
    }

    .container-fluid{
        img{
            width: 8.5rem;
        }
    }

    .navbar-collapse{
        justify-content: end;
    }


    .navbar-light .navbar-nav .nav-link{
        color: #D3D3D3;
        text-transform: uppercase;
        font-size: .8rem;
    }

    .navbar-toggler{
        padding: 0.5rem;
    }
    .navbar-nav .nav-link {
        color: $nav_font;
        padding: 1.5rem .5rem;
        border-bottom: 2px solid transparent;
        transition: all .3s ease-in-out;
        &:hover{
            color: #EABB75;
            border-color: #EABB75;
        }

    }

    .navbar .nav_social-icons{
        border-left: 2px solid $nav_font;
        .nav-link{
            padding: .5rem;

            &:hover{
                color: #EABB75;
                border-color: transparent;
            }
        }

    
    }

    
}




.hero_slider_inner .swiper {
    width: 100%;
    height: 100vh;
    .swiper-slide{
        position: relative;
        
    }
    img{
        width: 100%;
        height: 100%;
    }

    .image_gradient{
        position: relative;
        &:before{
            content: '';
            background-color: black;
            opacity: .4;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
        }

        
    }

    

    .carousel-caption{
        // text-align: justify;
        // width: fit-content;
        // height: fit-content;
        // top: 50%;
        // transform: translateY(-50%);

        h5{
            font-size: calc(1rem + 2vw);
            font-weight: bold;
            color: $nav_font;
            // margin-bottom: 1rem;
            line-height: 2.5rem;
        }

        p{
            max-width: 25rem;
            font-size: .9rem;
            
        }


        a{
            padding: .5rem 2rem;
        }
    }

    .carousel-caption{
        text-align: left;
        width: 100%;
        height: fit-content;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
    }
    // background-color: gray;

    .slider-btns-inner{
        display: flex;
        flex-direction: column;
    }
    .slider-navigation-btns{

        .swiper-button-prev{
            right: 5.5%;
            left: auto;
            top: 45%; 
            &::after{
                display: none;
            }
        }

        // .swiper-btn-bgc{
        //     height: 3rem;
        //     width: 3rem;
        //     border-radius: 50%;
        //     background-color: green;
        //     position: relative;

        //     i{
        //         position: absolute;
        //         top: 50%;
        //         left: 50%;
        //         transform: translate(-50%, -50%);
        //     }
        // }
            // .swiper-btn-bgc{
            //     i{
            //         position: relative;
            //     }
            //     i:before{
            //         content: 'none';
            //         top: 50%;
            //         left: 50%;
            //         background-color: green;
            //         position: absolute;
            //     }
            // }

        .swiper-pagination-vertical.swiper-pagination-bullets{
            right: 6.2%;
            top: 50%;
        }

        .swiper-button-next{
            right: 5.5%;
            top: 55%;
            &::after{
                display: none;
            }
        }
        // .sw-next::before{
        //     content: '\ea34';
        //     // font-family: "Font Awesome 5 Free";
        // }
    }
  }


  .projects{
      background-color: #262626;
      

    .project_inner{

        h2{
            position: relative;
            text-transform: uppercase;
            line-height: 1.5rem;
            font-size: calc(.8rem + .8vw);
            font-weight: bold;
            color: white;
            small{
                font-size: small;
                font-weight: normal;
                color: $nav_font;
            }
            &:after{
                content: '';
                position: absolute;
                height: 1px!important;
                width: 18%;
                top: 100%;
                left: 0;
                background-color: $yellow;
            }
        }

        p{
            color: $nav_font;
            font-size: calc(.3rem + .4vw);
            text-align: justify;

            span{
                color: white;
                text-transform: uppercase;
                // font-size: 1rem;
                font-weight: bold;
            }
        }

        .pro_link{
            display: flex;
            gap: 1rem;
            color: white;
        }
    }
  }
